.add-todo {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.add-todo input {
  height: 30px;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-todo button {
  height: 30px;
  padding: 0 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-todo button:hover {
  background-color: #555;
  color: #fff;
}
